@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  background: url('./images/bg-fon.jpg') left top;
  background-size: cover;
  overflow: hidden;
}
